# Database
db/biblioteka.db*

# Binaries
/bibloteka
*.exe

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Test coverage
coverage.out
node_modules/

.env

# Air live reload
tmp/
data/
bibloteka.db
!internal/server/dist/.gitkeep
internal/server/dist