# Database
db/biblioteka.db*

# Binaries
/bibloteka
/biblioteka
*.exe

# IDE
.idea/
*.swp

# OS
.DS_Store

# Test coverage
coverage.out
node_modules/
.pnpm-store/

.env

# Air live reload
tmp/
data/
bibloteka.db
!internal/server/dist/.gitkeep
internal/server/dist
